
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.main-content {
  flex-grow: 1;
  padding: var(--spacing-md);
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  color: var(--color-primary);
}
